<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test">
  <test thread-count="5" name="other module">
   <parameter name= "browser" value="chrome">
   
   </parameter>
   
   <groups>
      <run> <include name="sanity"/>
      
      </run>
  </groups>
   
    <classes>
      <class name="learning.TestNGbasics"/>
      <class name="learning.econtrol"/>
      
    </classes>
  </test> <!-- Test -->
  <test name ="loanmodule">
 <classes>
 <class name="learning.loandept">
 <methods>
 <include name="carloan"></include>
 </methods>
 </class>
 </classes>
 </test>
</suite> <!-- Suite -->
